mixin sServices(data)
	// start sServices
	+b.SECTION.sServices.section#sServices&attributes(attributes)
		.container
			+b.section-title
				.row
					.col-lg-6.col-12
						.offer
							+b.offer-about
								p
									strong Мужская стрижка 
									| - самая распространенная
									| услуга в нашем барбершопе.
									| Мы тщательно консультируем наших клиентов,
									| ведь на этом этапе мы находим общий язык
									| и лучше понимаем, какой образ будет отвечать вашим
									| требованиям и подойдет под ваш образ жизни.
							+b.offer-text
								+e.title данная услуга Подойдет 
									br
									+e.SPAN.span всем.
					.col-lg-6.col-12
						+b.offer-image 
							+pic('heircut-1.jpg','','')
				.row
					.col-12.col-sm-6
						+b.haircut-technology
							p
								| Для разной формы лица и типа волос 
								| подбирается своя стрижка. Сначала нужно
								| определиться с формой своего лица. 
							p 
								| Основные формы лица: круглое, овальное, квадратное,
								| ромбовидное, треугольное или сердцевидное. 
								br
								| Далее определяем структуру волос: слишком
								|  кудрявые, средняя волнистость, прямые и
								|  жесткие, мягкие и прямые, редкие. 	 
							p
								| Определившись с формой лица и структурой волос,
								| вы можете начать подбирать ту стрижку, 
								| которая понравится и подойдет именно вам.
					.col-12.col-sm-6
						+b.haircut-technology
							h2 Техника выполнения
							p 
								| Существует множество техник выполнения стрижки.
								| Все зависит от того, какую стрижку вы хотите сделать&nbsp;
								| и в зависимости от этого мастер выбирает технику
								| выполнения стрижки. 
							p
								| Какие примеры техник существуют:
								| под ноль или спортивная, универсальная 
								| или классическая, бокс и полубокс, 
								| ёжик, канадка, андеркат, квифф, британка.  
							p
								| Вы можете спросить мастера про любую
								| из данных техник и вам проведут
								| индивидуальную консультацию
			+b.haircut-tools 
				h2 Инструменты
				.row 
					mixin item(img, name)
						+e.col.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
							+b.tools-item
								+e.img-wrap 
									+e.IMG(src=`img/@2x/tool-${img}.png`).image
								+e.title= name
					+item('1','машинка')
					+item('2','триммер')
					+item('3','ножницы')
					+item('4','филировачная бритва')
					+item('5','шейвер')
					+item('6','фен')
			+b.about-tools
				.row 	
					.col-12.col-sm-6 
						+e.wrap
							p 
								| Наши мастера работают только с качественными инструментами,
								| которые дезинфицируются после каждой стрижки,
								| а через каждые 3&nbsp;часа проходят глубокую обработку
								| в специальном растворе - барберциде.
							p 
								| После стрижки вам обязательно понадобится стайлинг:
								| матовая паста или невесомая пудра для текстурной укладки,
								| без нее никуда
					.col-12.col-sm-6
						ul 
							li Наши мастера подберут стайлинг
							li подходящий именно вам, а дальше пару
							li уверенных движений и вуаля, стрижка 
							li заиграет новыми красками.
	// end sServices