mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+b.section-title
				h2 КОНТАКТы

			.row
				.col-lg-7 
					+e.mapWrap 
						<script loading="lazy" type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad69132f2182f41909c89769bcd81726a7ae0060a635e98768b42d727c226a996&amp;width=100%25&amp;height=440&amp;lang=ru_RU&amp;scroll=false"></script>
				.col-lg 
					+e.grafic 
						.row 
							.col.col-md-auto Ежедневно
							.col с 10:00 до 21:00
					+e.block 
						h5 Телефон
						+e.wrap
							+e.tel(href="tel:+74722373637") +7 (4722) 37-36-37
							+e.contacts
								+e.link(href="#")
									img(src="img/svg/whatsup-bg.svg" alt="whatsup" loading='lazy')
									| WHATSAPP
								+e.link(href="#")
									img(src="img/svg/telegram-bg.svg" alt="whatsup" loading='lazy')
									| WHATSAPP
								+e.link(href="#") sms
						+e.wrap
							h5 Почта
							+e.mail(href='mailto:rootsmenscut@gmail.com') rootsmenscut@gmail.com
						+e.wrap
							h5 Адрес
							+e.addres Белгород, Гражданский проспект,&nbsp;25 
	// end sContact

mixin sContact-sm()
	// start sContact
	+b.sContact--sm.bg-secondary.section#sContact&attributes(attributes)
		.container
			+e.row.row
				.col-lg-5 
					.h5 Администратор
					+e.tel(href="tel:+74722373637") +7 (4722) 37-36-37
					+e.contacts
						+e.link(href="#")
							img(src="img/svg/whatsup-bg.svg" alt="whatsup" loading='lazy')
							| WHATSAPP
						+e.link(href="#")
							img(src="img/svg/telegram-bg.svg" alt="whatsup" loading='lazy')
							| WHATSAPP
						+e.link(href="#") sms
				.col-lg 
					h5 Почта
					+e.mail(href='mailto:hello@rootsmenscut.com') hello@rootsmenscut.com
					div По любым вопросам. 

	// end sContact-sm

mixin sContact-inner()
	// start sContact
	+b.SECTION.sContact--inner.section#sContact&attributes(attributes)
		.container
			+b.section-title
				h2 как проехать

			+e.row.row
				+e.col.col-lg-7 
					+e.mapWrap 
						<script loading="lazy" type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad69132f2182f41909c89769bcd81726a7ae0060a635e98768b42d727c226a996&amp;width=100%25&amp;height=440&amp;lang=ru_RU&amp;scroll=false"></script>
				.col-lg 
					+e.block 
						h5 Время работы
						+e.time Пн - Вс: 09:00 - 21:00
					+e.block 
						h5 Адрес
						+e.addres Белгород, Гражданский проспект,&nbsp;25 
					+e.imgWrap 
						+pic('photo.jpg','','')
	// end sContact-inner