mixin sServicePrice(data)
	// start sServicePrice
	+b.SECTION.sServicePrice.section#sServicePrice&attributes(attributes)
		.container
			+b.service-price
				.row
					.col-12.col-sm-8 
						h2 Из чего складывается стоимость услуги
				.row 	
					.col-12.col-sm-6 
						p 
							| Стоимость услуги складывается из затраченного времени
							| и сложности выполнения стрижки, а также варьируется в 
							| зависимости от категории мастера, которого вы выбираете. 
						p 
							strong Мастер 
							| - это студент школы ROOTS education, успешно прошедший обучение. 
						p 
							strong ТОП-мастер 
							| , это успешный специалист, 
							| который обладает большим опытом и багажом знаний. 
						p
							| Соответственно, стрижка у него стоит дороже.  
					.col-12.col-sm-6 
						p 
							| Стать клиентом Амбассадора намного сложнее
							| , но попадя к нему в кресло, вы точно уверены,
							| что вами занимается гуру мужских стрижек. 
						p 
							| Также, вы можете попытать счастье и
							| присоединиться к нашему каналу поиска
							| моделей - https://t.me/rootsmenscutfree , 
							| где каждый месяц мы проводим набор на бесплатные стрижки. 
						p 
							| И, да, отсюда вы можете попасть даже к Амбассадору.

	// end sServicePrice