mixin sVacancies(data)
	// start sVacancies
	+b.SECTION.sVacancies.section#sVacancies&attributes(attributes)
		.container
			+b.section-title
				h2 вакансии
			+b.site 
				+e.imgWrap
					img.res-i(src="img/svg/hh.svg" alt="HeadHunter" loading="lazy")
				+e.text ROots в 
					span.text-danger HeadHunter
			+b.accardion--js.active 
				+e.head--js
					h5 ищем барбера
					+e.btn подробнее
				+e.content--js.active 
					p Требуемый опыт работы: не&nbsp;требуется
					p Полная занятость, полный день
					p Внимание❗️<br>В&nbsp;барбершоп приглашаем в&nbsp;команду БАРБЕРА ‍♂️
					p Если ты&nbsp;любишь свою профессию и&nbsp;выполняешь:
					ul 
						li мужские стрижки, включая удлинёнку;
						li бритьё (бритва /шейвер)
						li мoделиpoваниe бoроды;
						li камуфляж сeдины;
						li мacсаж гoловы;
						li уклaдкa волoс;
						li продажи услуг и&nbsp;космeтики;
						li oкaзаниe доп.услуг
					p Умеешь найти подход к&nbsp;любому клиенту<br>и&nbsp;хочешь развиваться как мастер в&nbsp;команде, тогда звони, пиши высылай в&nbsp;вацап свои работы и&nbsp;приходи на&nbsp;собеседование.
					p Барбершоп открывается при действующем салоне красоты на&nbsp;1-м этаже.
					p В&nbsp;салоне работает косметолог, стилисты‍♀️мастер маникюра/педикюра
					p Коллектив дружный, все мастера своего дела
					p Для сотрудников :<br>Есть мини кухня, холодильник, чайник, кофемашина.
					p Для клиентов:
					p ✅Вкусный, ароматный натуральный кофе ☕️, чай и&nbsp;более крепкие напитки<br>✅Различные вкусняшки
					p ⚠️Оборудование и&nbsp;расходные материалы для работы предоставляет салон.<br>Оплата %&nbsp;50/50
					p Салон и&nbsp;барбершоп находится в&nbsp;супер проходимом месте, непосредственно на&nbsp;ул.Ставропольской,<br>ЖК&nbsp;&laquo;Солнечный остров&raquo; рядом автобусная остановка &quot;Солнечный остров&quot;️
					p ❗Своя большая охраняемая парковка для клиентов и&nbsp;мастеров БЕСПЛАТНО ❗<br>(свой отдельный вход со&nbsp;стороны парковки)
					strong.ttu Присылайте свое резюме на&nbsp;
						a(href="mailto:hr@rootsmenscut.com") hr@rootsmenscut.com
			+b.accardion--js 
				+e.head--js
					h5 ищем управляющего
					+e.btn подробнее
				+e.content--js
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae ex itaque voluptate exercitationem distinctio iste corrupti voluptatibus, sequi cupiditate saepe porro perspiciatis earum dolore eligendi at dignissimos? Deleniti, nulla veritatis.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium explicabo nemo voluptatum dolorem, vel dolorum ipsum accusamus consectetur minus quos excepturi obcaecati in temporibus odio, maiores ducimus quo ad. Aspernatur?
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus ipsum modi a distinctio repudiandae incidunt est quae, aliquid dignissimos reprehenderit autem eligendi, fugiat reiciendis! Error quae nemo nesciunt inventore. Commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ratione commodi iste! Modi aspernatur tenetur vero fugiat error placeat velit adipisci. Nisi, qui fuga deserunt saepe explicabo eveniet! Vero, omnis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate distinctio molestias fugit quas itaque dignissimos. Exercitationem dolorem, nesciunt cumque ex beatae maxime velit laborum quas incidunt quia officia, impedit quos?
			+b.accardion--js 
				+e.head--js
					h5 ищем администратора
					+e.btn подробнее
				+e.content--js 
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae ex itaque voluptate exercitationem distinctio iste corrupti voluptatibus, sequi cupiditate saepe porro perspiciatis earum dolore eligendi at dignissimos? Deleniti, nulla veritatis.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium explicabo nemo voluptatum dolorem, vel dolorum ipsum accusamus consectetur minus quos excepturi obcaecati in temporibus odio, maiores ducimus quo ad. Aspernatur?
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus ipsum modi a distinctio repudiandae incidunt est quae, aliquid dignissimos reprehenderit autem eligendi, fugiat reiciendis! Error quae nemo nesciunt inventore. Commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ratione commodi iste! Modi aspernatur tenetur vero fugiat error placeat velit adipisci. Nisi, qui fuga deserunt saepe explicabo eveniet! Vero, omnis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate distinctio molestias fugit quas itaque dignissimos. Exercitationem dolorem, nesciunt cumque ex beatae maxime velit laborum quas incidunt quia officia, impedit quos?
	// end sVacancies