mixin sMasters(data)
	// start sMasters
	+b.SECTION.sMasters.section#sMasters&attributes(attributes)
		.container
			+b.section-title
				.row.justify-content-between
					.col-auto
						h2 МАСТЕРА
					.col-auto.d-none.d-md-block
						+b.btnMore(href="#")
							+e.text посмотреть всех
							+e.arrow 
								+icon('arrow-right')
			+e.slider--js.swiper-container
				.swiper-wrapper
					.swiper-slide
						+master('9','ИВАН','Амбассадор')
					.swiper-slide
						+master('5','владислав jr.','Топ-мастер')
					.swiper-slide
						+master('2','Дарья','Топ-мастер')
					.swiper-slide
						+master('6','амир','Мастер')
					.swiper-slide
						+master('1','ВЛАдислав','Топ-мастер')
					.swiper-slide
						+master('7','артем','Мастер')
					.swiper-slide
						+master('4','Андрей','Топ-мастер')
					.swiper-slide
						+master('8','катя','Мастер')
			+b.btnMore.d-md-none(href="#")
				+e.text посмотреть всех
				+e.arrow 
					+icon('arrow-right')
	// end sMasters

mixin master(i,n,s)
	+b.master.link-modal-js(href="#modal-call" data-title=`записаться к мастеру ${n}`)
		+pic(`master-${i}.jpg`,'bg','')(class="picture-bg")
		+e.row.row.justify-content-between
			.col
				+e.nameWrap 
					+e.name= n 
					+e.skil= s
			.col-auto.align-self-end 
				+e.btn
					+icon('calendar')

mixin sMasters-inner
	section#sMasters.sMasters.sMasters--inner.section
		.container
			.section-title
				.row.justify-content-between
					.col-auto
						h1 Мастера
			.sMasters__slider.row

				.col-md-3.mb-3
					a.master.ms_booking.position-relative(onclick="ym(XXXXXX, 'reachGoal', 'TARGET_NAME');" data-url='https://w506859.yclients.com?lang=&o=m1006681')
						picture.picture-bg
							img.object-fit-js.wp-post-image(width='800' height='800' src='http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/e0b72c1cde95154_20200605161451.png' alt='' loading='lazy' srcset='http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/e0b72c1cde95154_20200605161451.png 800w, http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/e0b72c1cde95154_20200605161451-300x300.png 300w, http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/e0b72c1cde95154_20200605161451-150x150.png 150w, http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/e0b72c1cde95154_20200605161451-768x768.png 768w' sizes='(max-width: 800px) 100vw, 800px')
						span.master__row.row.justify-content-between
							.col
								span.master__nameWrap
									span.master__name  Артём
									span.master__skil Мастер
							.col-auto.align-self-end
								span.master__btn
									svg.icon.icon-calendar
										use(xlink:href='/wp-content/themes/roots/img/svg/sprite.svg#calendar')
				.col-md-3.mb-3
					a.master.ms_booking.position-relative(onclick="ym(XXXXXX, 'reachGoal', 'TARGET_NAME');" data-url='https://w506859.yclients.com?lang=&o=m1006649')
						picture.picture-bg
							img.object-fit-js.wp-post-image(width='800' height='800' src='http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/4e121172b5fa2ab_20200605161344.png' alt='' loading='lazy' srcset='http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/4e121172b5fa2ab_20200605161344.png 800w, http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/4e121172b5fa2ab_20200605161344-300x300.png 300w, http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/4e121172b5fa2ab_20200605161344-150x150.png 150w, http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/4e121172b5fa2ab_20200605161344-768x768.png 768w' sizes='(max-width: 800px) 100vw, 800px')
						span.master__row.row.justify-content-between
							.col
								span.master__nameWrap
									span.master__name  Андрей Kid
									span.master__skil Мастер
							.col-auto.align-self-end
								span.master__btn
									svg.icon.icon-calendar
										use(xlink:href='/wp-content/themes/roots/img/svg/sprite.svg#calendar')
				.col-md-3.mb-3
					a.master.ms_booking.position-relative(onclick="ym(XXXXXX, 'reachGoal', 'TARGET_NAME');" data-url='https://w506859.yclients.com?lang=&o=m1085929')
						picture.picture-bg
							img.object-fit-js.wp-post-image(width='472' height='472' src='http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/6b9a4725f16755e_20200817190548.png' alt='' loading='lazy' srcset='http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/6b9a4725f16755e_20200817190548.png 472w, http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/6b9a4725f16755e_20200817190548-300x300.png 300w, http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/6b9a4725f16755e_20200817190548-150x150.png 150w' sizes='(max-width: 472px) 100vw, 472px')
						span.master__row.row.justify-content-between
							.col
								span.master__nameWrap
									span.master__name  Егор
									span.master__skil Мастер 
							.col-auto.align-self-end
								span.master__btn
									svg.icon.icon-calendar
										use(xlink:href='/wp-content/themes/roots/img/svg/sprite.svg#calendar')
				.col-md-3.mb-3
					a.master.ms_booking.position-relative(onclick="ym(XXXXXX, 'reachGoal', 'TARGET_NAME');" data-url='https://w506859.yclients.com?lang=&o=m483854')
						picture.picture-bg
							img.object-fit-js.wp-post-image(width='800' height='800' src='http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/master-9.jpg' alt='' loading='lazy' srcset='http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/master-9.jpg 800w, http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/master-9-300x300.jpg 300w, http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/master-9-150x150.jpg 150w, http://r82589.hostru10.fornex.host/wp-content/uploads/2021/04/master-9-768x768.jpg 768w' sizes='(max-width: 800px) 100vw, 800px')
						span.master__row.row.justify-content-between
							.col
								span.master__nameWrap
									span.master__name  Иван
									span.master__skil Амбассадор
							.col-auto.align-self-end
								span.master__btn
									svg.icon.icon-calendar
										use(xlink:href='/wp-content/themes/roots/img/svg/sprite.svg#calendar')
			.pagination-wrapper
				ul.page-numbers(role='navigation')
					li
						span.page-numbers.current.current(aria-current='page') 1
					li
						a.page-numbers(title='Page 2' href='http://r82589.hostru10.fornex.host/mastera/page/2/') 2
					li
						a.page-numbers(rel='next' href='http://r82589.hostru10.fornex.host/mastera/page/2/') »
