mixin sDownload(data)
	// start sDownload
	+b.SECTION.sDownload.section#sDownload&attributes(attributes)
		.container
			.row
				.col-md-6.col-lg-5 
					+b.section-title
						h2 Скачивай наше приложение!
					ul 
						li Узнавайте свободное для записи время
						li Получайте уведомления об&nbsp;акциях и&nbsp;ваших записях
						li Почитайте про мастера, прежде чем записаться к&nbsp;нему
					+e.row.row 
						.col-auto 
							+download('app-store')
						.col-auto 
							+download('google-play')(class="playmarket")
				.col-4.d-none.d-lg-block 
					+e.phone
						+pic('phone.png')
				+e.col.col-md-6.col-lg-3.align-self-center
					+rate('yandex','4,9','68')
					+rate('google','5,0','133')
					+rate('2gis','5,0','26')
	// end sDownload


mixin rate(img,rate, q)
	+b.rate(href="#") 
		.row.align-items-center
			.col-4
				+pic(`${img}.png`,'','')
			+e.col.col
				+e.starsWrap 
					+e.star.active
						+icon('star')
					+e.star.active
						+icon('star')
					+e.star.active
						+icon('star')
					+e.star.active
						+icon('star')
					+e.star.active
						+icon('star')
				+e.rate= rate 
					| РЕЙТИНГ
				+e.quantity На основе 
					strong= q
					| отзывов