// start .sDownload
.sDownload {
	--sPT: #{rem(30)};
	--sPB: #{rem(51)};
	--sTPB: #{rem(20)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(48)};
		--sPB: #{rem(51)};
		--sTPB: #{rem(53)};
	}

	background: #0b0b0b;
	color: #fff;

	.container {
		@include media-breakpoint-up(xl) {
			max-width: 1172px;
		}
	}

	h2 {
		text-transform: uppercase;
	}

	ul {
		list-style: none;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(25);
		}
		@include media-breakpoint-up(lg) {
			margin-left: -2px;
		}
		li {
			display: flex;
			align-items: center;
			position: relative;
			padding-bottom: rem(18);

			&::before {
				content: "";
				width: 34px;
				height: 34px;
				display: inline-block;
				margin-right: rem(19);
				background-image: url("../img/svg/check.svg");
				background-repeat: no-repeat;
				background-size: 100%;
				background-position: center;
			}
		}
	}

	&__col {
		@include media-breakpoint-up(lg) {
			padding-top: rem(18);
		}
	}

	&__phone {
		margin-top: rem(-117);
		margin-bottom: rem(-123);
		margin-left: rem(-20);
		margin-right: rem(-50);
	}

	.download {
		position: relative;
		z-index: 2;
		img {
			width: 131px;
			@include media-breakpoint-up(lg) {
				width: 145px;
			}
		}

		&.playmarket {
			img {
				width: 145px;
				@include media-breakpoint-up(lg) {
					width: 166px;
				}
			}
		}
	}

	&__row {
		@include roww(8px);

		@include media-breakpoint-down(md) {
			margin-bottom: rem(28);
		}
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sDownload

.rate {
	filter: drop-shadow(0px 0px 59px rgba(0, 0, 0, 0.25));
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: rem(16);
	padding: rem(16) rem(24);
	@include media-breakpoint-only(lg) {
		padding: rem(16) rem(15);
	}
	display: block;
	position: relative;
	z-index: 2;
	text-decoration: none;
	color: #000;

	&__starsWrap {
		@include roww(5px, m);
		margin-bottom: rem(8);
		display: block;
	}

	&__star {
		.icon {
			color: $secondary;
			font-size: rem(14);
		}

		&.active {
			.icon {
				color: #fccf5d;
			}
		}
	}

	&__rate {
		display: block;
		text-transform: uppercase;
		font-weight: 800;
		margin-bottom: rem(4);
	}

	&__quantity {
		display: block;
		font-size: $small;
		strong {
			font-weight: 800;
			display: inline-block;
			margin-right: rem(2);
		}
	}

	.row {
		@include roww(24px);
		@include media-breakpoint-only(lg) {
			@include roww(10px);
		}
	}
}
