// start .header
.main-page {
	.header {
		// position: absolute;
		position: fixed;
		z-index: 200;
		left: 0;
		top: 0;
		width: 100vw;
	}
}
.header {
	background: rgba(19, 19, 19, 0.69);
	&-inner {
	}
	//
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.header
