mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			+b.section-title
				h2 команда roots

			.row
				.col-lg-6 
					+e.block 
						h3 совсем коротко о нас
						ul 
							li У нас лучшее соотношение цены и качества в сфере мужских стрижек;
							li Мы дружелюбные и общаемся, как живые люди, а не как боты;
							li Мы всегда на стороне клиента: если вам не понравилась стрижка, то мы бесплатно подстрижем вас ещё раз;
							li Мы эксперты в том, что мы делаем;
							li Нами движет постоянное стремление к повышению качества всего: от стрижек до улучшения клиентского сервиса;
							li Среди множеств заведений, отличный сервис- становится причиной, из-за которой хочется возвращаться к нам вновь;
							li ROOTS - место переворачивающее ваше представление о мужской парикмахерской;
							li Все наши отзывы и комментарии честные;
				.col-lg-6 
					+e.block 
						h3 ROOTS  в цифрах
						ul 
							li Работаем с мая 2018 года;
							li Состригаем 18 тонн волос с головы в месяц;
							li 99,4% положительных РЕАЛЬНЫХ отзывов;
							li За все время подстригли более 6 тысяч довольных клиентов;
							li Наши админы сделали  10000 чашек кофе.
						+e.icon--1 
							+icon('marker')
						+e.icon--2 
							+icon('marker')
						+e.icon--3
							+icon('marker')
					+e.probability Вероятность удачного прохождения 
						span собеседования 
						span свидания 
						span свадьбы
						| 90% благодаря нашей стрижки.
		+e.lines 
			picture
				source(type='image/webp' srcset='img/@2x/webp/coloredLines.webp')
				img(src='img/@2x/coloredLines.png' alt='')

		.container 
			+e.row.row
				mixin item(t,p)
					.col-sm-6.col-sm-4.col-lg-3
						+b.personalCard
							+e.imgWrap 
								+pic('gray-bg.jpg','','')
							+e.textWrap
								+e.name!= t 
								+e.status!= p
				+item(`Анастасия Корниенко`,`Коммерческий директор`)
				+item(`Андрей гостищев`,`Руководитель рекламного отдела ROOTS`)
				+item(`Анастасия Выглазова`,`Администратор`)
				+item(`Дарья Чугаева`,`Администратор`)
				+item(`Владислав Андриевский`,`ТОП-мастер и старший преподаватель ROOTS education`)
				+item(`Иван Поцелуев`,`Амбассадор`)
				+item(`Роман Черников`,`Амбассадор`)
	// end sTeam