mixin item-sos(icon,t, a='#')
	+e.A.item(href= a target="_blank")
		if block
			block
		else
			+e.iconWrap
				+icon(icon)
			if t
				span= t
//- social buttons
mixin soc()
	+b.soc&attributes(attributes)
		if block
			block
		else
			+item-sos('instagram','Instagram')
			+item-sos('vk','Вконтакте')
			+item-sos('fb','Facebook')
			+item-sos('telegram','Telegram')

//- /social buttons 

mixin soc-sm()
	+b.soc&attributes(attributes)
		if block
			block
		else
			+item-sos('instagram')
			+item-sos('vk')
			+item-sos('fb')
			+item-sos('telegram')
